.banner {
  .image {
    height: $m-banner-image-height!important;
  }
  h1 {
    position: absolute;
    color: white!important;
    z-index: 2;
    padding: 0!important;
    text-shadow: 2px 2px $col-black;
    margin: $m-banner-h1-margin!important;
  }
  h2 {
    position: absolute;
    color: $col-white-70!important;
    text-transform: uppercase;
    z-index: 3;
    padding: 0!important;
    width: 50%;
    text-shadow: 2px 2px $col-black;
    margin: $m-banner-h2-margin!important;
  }
  p {

  }
  &--left {
    .image {
      clip-path: polygon(0 0, 100% 10px, 100% 100%, 0 100%);
    }
    h1 {
      left: 0px;
    }
    h2 {
      left: 0px;
    }
  }
  &--right {
    .image {
      clip-path: polygon(0 10px, 100% 0, 100% 100%, 0 100%);
    }
    h1 {
      right: 0px;
      text-align: right;
    }
    h2 {
      right: 0px;
      text-align: right;
    }
  }
}

@media screen and (orientation:landscape) and (max-width: $m-max-width) {
  .banner {
    width: calc(50% - 20px);
    margin: 10px;
    display: inline-block;
  }
}

/* desktop */

@media screen and (min-width: $m-max-width) {
  .banner {
    width: calc(50% - 20px);
    margin: 10px;
    display: inline-block;
    .image {
      height: $d-banner-image-height!important;
      overflow: hidden;
    }
    h1 {
      margin: $d-banner-h1-margin!important;
    }
    h2 {
      margin: $d-banner-h2-margin!important;
    }
  }
}