.content {
  padding: 10px;
  padding-top: $navigation-height-d;
  overflow-x: hidden;
  h1 {
    margin: 0;
    font-weight: 100;
    color: $col-text;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  h2 {
    margin: 0;
    font-weight: bold;
    padding: 10px 0px 10px 0;
    color: $col-text;
    display: table;
    z-index: 1;
  }
  p {
    margin: 0;
    /* border: 1px dashed red;  */
    font-weight: lighter;
    text-align: justify;
    font-family: $font-readable;
    color: $col-text;
    font-style: italic;
    padding: 15px 0 15px 0;
  }
  .image.small {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  .image.large {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .image.nopadding {
    width: calc( 100% + 40px);
    margin-left: -20px;
  }
  .image.rounded {
    border-radius: 10px;
  }
  .image.cropped-zoom-in .image-inner {
    opacity: 0;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
  }
  .image.cropped-zoom-in .image-inner.el-show {
    opacity: 1!important;
    transform: scale(1.3, 1.3);
    transition: all 0.3s;
    transition-timing-function: ease-out;
  }
  .image.cropped-zoom-out .image-inner {
    opacity: 0;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    transform: scale(1.3, 1.3);
  }
  .image.cropped-zoom-out .image-inner.el-show {
    opacity: 1!important;
    transform: scale(1, 1);
    transition: all 0.3s;
    transition-timing-function: ease-out;
  }
  .image-inner.el-show .image-preloader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px dashed $col-text;
    animation: image-preloader-spin 5s linear infinite;
    transition: all .3s;
    transition-timing-function: ease-out;
  }
  .image-inner.el-show .image-preloader-perc {
    position: static;
    width: 0px;
    overflow: visible;
  }
  .image-inner.el-show .image-preloader-perc .text {
    position: absolute;
    font-size: 14px;
    width: 50px;
    font-weight: bold;
    margin-left: -51px;
    margin-top: -8px;
    text-align: center;
    color: $col-text;
  }
}

@keyframes image-preloader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.el-show {
  opacity: 1!important;
  transform: scale( 1, 1);
  transition: all 0.3s;
  transition-timing-function: ease-out;
}

h2.el-show {
  opacity: 1!important;
  //transform: scale( 1, 1) rotate(-1deg)!important;
  transition: all .5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

p.el-show {
  transition-delay: 0s;
}

.image {
  background-size: 100% 100%;
}

/* mobile */

@media screen and (max-width: $m-max-width) {
  .content h1 {
    font-size: $m-font-size-h1;
  }
  .content h2 {
    font-size: $m-font-size-h2;
  }
  .content p {
    font-size: $m-font-size-p;
  }
  .content .image.small {
    height: 100px;
  }
  .content .image.large {
    height: 200px;
  }
}


/* desktop */

@media screen and (min-width: $m-max-width) {
  .content h1 {
    font-size: $d-font-size-h1;
  }
  .content h2 {
    font-size: $d-font-size-h2;
  }
  .content p {
    font-size: $m-font-size-p;
  }
  .content .image.small {
    height: 200px;
  }
  .content .image.large {
    height: 400px;
  }
}

.image-preloader {
  background-color: $col-yellow; 
  display: flex;
  align-items: center;
  justify-content: center;
}