.navigation {
  position: fixed;
  width: 100%;
  flex: 1;
  background-color: $col-navigation-background;
  overflow: hidden;
  z-index: 2;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  min-height: $navigation-height-m;
  max-height: $navigation-height-m;
  overflow: hidden;
  &--fullscreen {
    min-height: 100%;
  }
}

.navigation__logo {
  cursor: pointer;
  z-index: 1;
  width: $navigation-height-m;
  height: $navigation-height-m;
  font-size: 1.5rem;
  line-height: 0rem;
}

.navigation__links {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 0.5s;
  transform: scale(0.02);
  transform-origin: center center;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &--show {
    align-self: center;
  }
}

.navigation__link {
  color: $col-text;
  transform-origin: 50% 50%;
  cursor: pointer;
  font-size: 30px;
  height: 50px;
  flex-grow: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.navigation__link:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.navigation__link--selected {
  background-color: $col-text;
  color: $col-primary;
  border-radius: 10px;
}

.navigation__toggle {
  cursor: pointer;
  z-index: 1;
  width: $navigation-height-m;
  height: $navigation-height-m;
  font-size: 1rem;
  line-height: 0rem;
}

.navigation__null {
  width: 100px;
  height: 100px;
  overflow: visible;
  display: inline-table;
  position: absolute;
}

/* DESKTOP */

/* @media screen and (min-width: $m-max-width) {
  .navigation {
    min-height: $navigation-height-d;
    max-height: $navigation-height-d;
  }
  .navigation--fullscreen {
    min-height: 100%;
  }
  .navigation__logo {
    height: 100%;
  }
  .navigation__links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navigation__links--show {
    align-self: center;
  }
  .navigation__link {
    height: 50px;
    flex-grow: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navigation__toggle {
    height: 100%;
  }
} */