.bounceIn {
  animation: bounceIn 0.3s ease-out;
}

@keyframes bounceIn {
  0% { transform: scale(1.5); opacity: 0; }
  30% { transform: scale(1.5); opacity: 0; }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); opacity: 1; }
}

.anim-wiggle {
  animation: anim-wiggle 0.3s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes anim-wiggle {
  10%, 50%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  30%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
}

.trans-zoom-in {
  transform: scale(1.25)!important;
  transition: all 0.3s!important;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}