.block-el {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transform-origin: 50% 50%;
}

.block-on {
  opacity: 1;
}

.block-off {
  opacity: 1;
  animation: block-off 1s linear;
  animation-fill-mode: forwards;
}

.circle {
  width: 200px;
  height: 200px;
  border: dashed 10px #eee;
  border-radius: 50%;
  background-color: white;
}

.loading {
  position: absolute;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0px;
  color: #eee;
  font-weight: bold;
}

@keyframes block-off {
  from { 
    opacity: 1; 
    transform: rotate(0deg); 
  }
  to { 
    opacity: 0;
    transform: rotate(90deg); 
  }
}

.spin {
  animation: spin 0.5s linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin-low {
  animation: spin 6s linear;
  animation-iteration-count: infinite;
}

@keyframes spin-low {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* mobile */

@media screen and (max-width: 768px) {

  #block .wrapper {
    
  }

  .block-el {
    font-size: 32px;
  }

}

/* desktop */

@media screen and (min-width: 768px) {

  #block .wrapper {
    font-size: 32px;
  }

  .block-el {
  }

}