.block-el {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transform-origin: 50% 50%;
}

.block-on {
    opacity: 1;
}

.block-off {
    opacity: 1;
    animation: block-off 1s linear;
    animation-fill-mode: forwards;
}

@keyframes block-off {
  from { 
    opacity: 1; 
    transform: rotate(0deg); 
  }
  to { 
    opacity: 0;
    transform: rotate(90deg); 
  }
}

.spin {
  animation: spin 0.5s linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(600deg); }
}


/* mobile */

@media screen and (max-width: 768px) {

  #block .wrapper {
    
  }

  .block-el {
  }

}

/* desktop */

@media screen and (min-width: 768px) {

  #block .wrapper {
    
  }

  .block-el {
  }

}