#content .wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
/* mobile */

@media screen and (max-width: 768px) {

  #content .wrapper {
    padding: 40px;
  }

}

/* desktop */

@media screen and (min-width: 768px) {

  #content .wrapper {
    padding: 20px;
  }

}