/* COMMON */

.navigation {
  position: fixed;
  display: flex;
  width: 100%;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.97);
  overflow: hidden;
  z-index: 10000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}
.navigation__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navigation__links {}
.navigation__link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: black;
  transform-origin: 50% 50%;
  cursor: pointer;
  font-size: 30px;
}
.navigation__link:hover{
  transform: scale(1.2);
  /* background-color: rgba(255, 0, 80, 0.5); */
  transition: transform 0.5s;
}
.navigation__link--selected{
  background-color: #ff0050;
  color: white;
}
.navigation__toggle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .navigation {
    height: 40px;
    overflow: hidden;
  }
  .navigation--fullscreen {
    height: 100%;
  }
  .navigation__logo {
    width: 80px;
    height: 40px;
  }
  .navigation__links {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    display: none;
  }
  .navigation__links--show {
    display: flex;
  }
  .navigation__link {
    height: 50px;
    flex-grow: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navigation__toggle {}
}

/* DESKTOP */

@media screen and (min-width: 768px) {
  .navigation {
    height: 50px;
  }
  .navigation--fullscreen {
    height: 100%;
  }
  .navigation__logo {
    width: 80px;
    height: 50px;
  }
  .navigation__links {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    display: none;
  }
  .navigation__links--show {
    display: flex;
  }
  .navigation__link {
    height: 50px;
    flex-grow: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navigation__toggle {
    height: 50px;
  }
}