#viewer .viewer-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.viewer__container {
  
}

.viewer__image {
  width : 100%;
  cursor : pointer;
}

/* mobile */

@media screen and (max-width: 768px) {



}

/* desktop */

@media screen and (min-width: 768px) {


}